* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
  height: auto;
  width: 100vw;
  }

  body {
    font-family: sans-serif;
    background-image: url(./assets/Images/Background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #container {
    padding: 0rem;
  }

  h1 {
    padding: 1rem;
    font-size: 5rem;
    font-weight: 800;
    color: #fcbf49;
    text-shadow: 5px 5px 0px black;
  }

  h4 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    text-shadow: 0px 0px 5px white;
  }

   h3 {
       color: white;
   }

  #animal-wrapper {
    padding: 2rem;
    display: grid;
    row-gap: 2.5rem;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .animals {
    padding: 2rem;
  }

  img {
    padding: 1rem;
  }

  h3 {
    padding: 0rem 1rem 1rem 1rem; 
  }

  button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1rem;
    background-color: #e9ecef;
    box-shadow: 0px 3px 2px #212529;
    line-height: 0.8;
  }
